
CleanSwiftWithRouter.xcodeproj/xcuserdata/kevinvishal.xcuserdatad/xcschemes/xcschememanagement.plist
CleanSwiftWithRouter.xcodeproj/xcuserdata/kevinvishal.xcuserdatad/xcschemes/xcschememanagement.plist
CleanSwiftWithRouter.xcodeproj/xcuserdata/kevinvishal.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
CleanSwiftWithRouter.xcodeproj/project.xcworkspace/xcuserdata/kevinvishal.xcuserdatad/UserInterfaceState.xcuserstate
